<h2 class="h2 fw-bold">View Meeting Type</h2>

<div class="card shadow rounded-4 overflow-hidden">
    <div class="table-head d-flex align-items-center px-3 py-2 bg-primary text-white">
        <div class="h5">View Meeting Type</div>
    </div>
    <div class="card-body">
        <div class="row mb-3">
            <div class="col-md-3 fw-bold">MeetingType ID</div>
            <div class="col-md-9">@Model.MeetingTypeID</div>
        </div>

        <div class="row mb-3">
            <div class="col-md-3 fw-bold">MeetingType Name</div>
            <div class="col-md-9">@Model.MeetingTypeName</div>
        </div>

        <div class="row mb-3">
            <div class="col-md-3 fw-bold">Remarks</div>
            <div class="col-md-9">@Model.Remarks</div>
        </div>

        <div class="row mb-3">
            <div class="col-md-3 fw-bold">Created</div>
            <div class="col-md-9">@Model.Created</div>
        </div>

        <div class="row mb-3">
            <div class="col-md-3 fw-bold">Modified</div>
            <div class="col-md-9">@Model.Modified</div>
        </div>

        <a asp-action="MeetingTypeList" class="btn btn-primary">Back</a>
    </div>
</div>
