@model IEnumerable<MOM_Project.Models.MeetingTypeModel>

<div class="container pb-3">
    <h2 class="h2 fw-bold">Meeting Type</h2>

    <div class="d-flex justify-content-between">
        <form asp-action="MeetingTypeList" method="get" class="d-flex">

            <input type="text"
                   name="searchText"
                   class="form-control me-2"
                   placeholder="Search meeting type..."
                   value="@Context.Request.Query["searchText"]" />

            <button class="btn btn-primary">
                <i class="bi bi-search"></i>
            </button>

            <a asp-action="MeetingTypeList"
               class="btn btn-secondary ms-2">
                Reset
            </a>

        </form>
        <a class="btn btn-primary" asp-action="MeetingTypeAdd">
            <i class="bi bi-plus"></i> Add Meeting Type
        </a>

    </div>
</div>

@if (TempData["SucessMessage"] != null)
{
    <div class="alert alert-primary">
        @TempData["SucessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<div class="shadow rounded-4 overflow-hidden">

    <div class="bg-primary text-white px-3 py-2 h5 mb-0">
        Meeting Type List
    </div>
    @if (Model != null && Model.Any())
    {
        <table class="table main-table mb-0">
            <thead>
                <tr>
                    <th>Meeting Type Name</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.MeetingTypeName</td>
                        <td class="text-center">
                            <div class="action-icons">
                                <a asp-action="MeetingTypeView"
                                   asp-route-MeetingTypeID="@item.MeetingTypeID"
                                   title="View">
                                    <i class="bi bi-eye"></i>
                                </a>

                                <a asp-action="MeetingTypeEditForm"
                                   asp-route-MeetingTypeID="@item.MeetingTypeID"
                                   title="Edit">
                                    <i class="bi bi-pen"></i>
                                </a>

                                <a asp-action="MeetingTypeDeleteForm"
                                   asp-route-MeetingTypeID="@item.MeetingTypeID"
                                   title="Delete">
                                    <i class="bi bi-trash text-danger"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="p-3">
            <h5>No Data Found</h5>
        </div>
    }
</div>